In [7]:
# Global Suicide Rate Analysis
%matplotlib inline

# Importing dependencies
import pandas as pd
import matplotlib as plt
import numpy as np
from config import gkey
import requests
import json
import googlemaps
import gmaps
gmaps.configure(api_key=gkey)

In [8]:
# Read master suicide rates data into dataframe
master_data_df = pd.read_csv("./source_data/master.csv")

# print(len(master_data_df))

master_data_df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [9]:
# Cleaningup raw data
master_data_df.columns

master_data_df = master_data_df.drop_duplicates()

master_data_df.rename(columns={' gdp_for_year ($) ': 'gdp_for_year ($)'}, inplace=True)

# print(len(master_data_df))
# print(master_data_df.count())

In [10]:
# Filtering 10 years data (2006-2015) 
ten_yr_df = master_data_df.loc[(master_data_df["year"]>2005) & (master_data_df["year"]<2016)]

# print(len(ten_yr_df))
# print(ten_yr_df.count())

In [11]:
# Determining Top 10 countries with higher suicide numbers
country_grp = ten_yr_df.groupby(["country"])

country_grp_df = pd.DataFrame({"total_population": country_grp["population"].sum()
                               ,"total_suicides_no": country_grp["suicides_no"].sum()
                              })

country_grp_df = country_grp_df.reset_index()

country_grp_df = country_grp_df.sort_values(["total_suicides_no"], ascending=False)

# print(len(country_grp_df))

country_grp_df.head(10)

               country  total_population  total_suicides_no
92       United States        2891288891             387385
71  Russian Federation        1349335058             334082
45               Japan        1206457577             278985
69   Republic of Korea         476613445             138480
34             Germany         782905332              98697
15              Brazil        1824017956              97856
32              France         531470558              90413
89             Ukraine         386269919              81876
65              Poland         361364561              59658
55              Mexico        1065964972              52100

In [18]:
suicide_rate=country_grp['suicides/100k pop'].sum
target_country=country_grp_df['country']
#print(target_country)
params = {"address": target_country[0], "key": gkey}

# Build URL using the Google Maps API
base_url = "https://maps.googleapis.com/maps/api/geocode/json"
# Run request
response = requests.get(base_url, params=params)
print(response.url)
response_json=response.json()
#extracting lat lng
lat = response_json["results"][0]["geometry"]["location"]["lat"]
lng = response_json["results"][0]["geometry"]["location"]["lng"]
print(response_json)

https://maps.googleapis.com/maps/api/geocode/json?address=Albania&key=+AIzaSyAW3NNtp_LOqQYk_8VUbHWXpq3Vv9xAAAQ
{'results': [{'address_components': [{'long_name': 'Albania', 'short_name': 'AL', 'types': ['country', 'political']}], 'formatted_address': 'Albania', 'geometry': {'bounds': {'northeast': {'lat': 42.6611669, 'lng': 21.0572394}, 'southwest': {'lat': 39.6447296, 'lng': 19.1217}}, 'location': {'lat': 41.153332, 'lng': 20.168331}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 42.6611669, 'lng': 21.0572394}, 'southwest': {'lat': 39.6447296, 'lng': 19.1217}}}, 'place_id': 'ChIJLUwnvfM7RRMR7juY1onlfAc', 'types': ['country', 'political']}], 'status': 'OK'}

In [6]:
# Filtering 10 year data for top 10 countries

top_country_ten_yr_df = pd.merge(ten_yr_df,country_grp_df.iloc[0:10], how='inner', on='country')

# print(len(top_country_ten_yr_df), top_country_ten_yr_df['country'].nunique())
# print(top_country_ten_yr_df.count())

top_country_ten_yr_df.head(20)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation,total_population,total_suicides_no
0,Brazil,2006,male,75+ years,275,1575798,17.45,Brazil2006,NaN,"1,107,640,297,890",6403,Silent,1824017956,97856
1,Brazil,2006,male,55-74 years,1112,9247477,12.02,Brazil2006,NaN,"1,107,640,297,890",6403,Silent,1824017956,97856
2,Brazil,2006,male,35-54 years,2536,22709135,11.17,Brazil2006,NaN,"1,107,640,297,890",6403,Boomers,1824017956,97856
3,Brazil,2006,male,25-34 years,1537,15717099,9.78,Brazil2006,NaN,"1,107,640,297,890",6403,Generation X,1824017956,97856
4,Brazil,2006,male,15-24 years,1293,18063460,7.16,Brazil2006,NaN,"1,107,640,297,890",6403,Millenials,1824017956,97856
5,Brazil,2006,female,35-54 years,708,24105759,2.94,Brazil2006,NaN,"1,107,640,297,890",6403,Boomers,1824017956,97856
6,Brazil,2006,female,55-74 years,265,10786642,2.46,Brazil2006,NaN,"1,107,640,297,890",6403,Silent,1824017956,97856
7,Brazil,2006,female,15-24 years,387,17631557,2.19,Brazil2006,NaN,"1,107,640,297,890",6403,Millenials,1824017956,97856
8,Brazil,2006,female,25-34 years,333,15862415,2.10,Brazil2006,NaN,"1,107,640,297,890",6403,Generation X,1824017956,97856
9,Brazil,2006,female,75+ years,47,2466737,1.91,Brazil2006,NaN,"1,107,640,297,890",6403,Silent,1824017956,97856
10,Brazil,2006,male,5-14 years,64,17731288,0.36,Brazil2006,NaN,"1,107,640,297,890",6403,Millenials,1824017956,97856
11,Brazil,2006,female,5-14 years,61,17077355,0.36,Brazil2006,NaN,"1,107,640,297,890",6403,Millenials,1824017956,97856
12,Brazil,2007,male,75+ years,305,1654216,18.44,Brazil2007,NaN,"1,397,084,345,950",7970,Silent,1824017956,97856
13,Brazil,2007,male,55-74 years,1220,9611434,12.69,Brazil2007,NaN,"1,397,084,345,950",7970,Silent,1824017956,97856
14,Brazil,2007,male,35-54 years,2516,23156759,10.87,Brazil2007,NaN,"1,397,084,345,950",7970,Boomers,1824017956,97856
15,Brazil,2007,male,25-34 years,1609,16075775,10.01,Brazil2007,NaN,"1,397,084,345,950",7970,Generation X,1824017956,97856
16,Brazil,2007,male,15-24 years,1267,17991928,7.04,Brazil2007,NaN,"1,397,084,345,950",7970,Millenials,1824017956,97856
17,Brazil,2007,female,35-54 years,723,24591528,2.94,Brazil2007,NaN,"1,397,084,345,950",7970,Boomers,1824017956,97856
18,Brazil,2007,female,55-74 years,275,11208413,2.45,Brazil2007,NaN,"1,397,084,345,950",7970,Silent,1824017956,97856
19,Brazil,2007,female,25-34 years,392,16189977,2.42,Brazil2007,NaN,"1,397,084,345,950",7970,Generation X,1824017956,97856