In [22]:
import pandas as pd
import re

proj_df = pd.read_excel("ACS_17_5YR_S1501.xls")

proj_df.head()

,Subject,Northeast Region Total Estimate,Northeast Region Margin of Error,Northeast Region Percent Estimate,Northeast Region Margin of Error.1,Northeast Region Male Estimate,Northeast Region Margin of Error.2,Northeast Region Percent Male Estimate,Northeast Region Margin of Error.3,Northeast Region Female Estimate,...,West Region Percent Estimate,West Region Margin of Error.1,West Region Male Estimate,West Region Margin of Error.2,West Region Percent Male Estimate,West Region Margin of Error.3,West Region Female Estimate,West Region Margin of Error.4,West Region Percent Female Estimate,West Region Margin of Error.5
0,Region,Northeast Region,Northeast Region,Northeast Region,Northeast Region,Northeast Region,Northeast Region,Northeast Region,Northeast Region,Northeast Region,...,West Region,West Region,West Region,West Region,West Region,West Region,West Region,West Region,West Region,West Region
1,Gender,Total,NaN,Percent,NaN,Male,NaN,Percent Male,NaN,Female,...,Percent,NaN,Male,NaN,Percent Male,NaN,Female,NaN,Percent Female,NaN
2,Estimate/Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,...,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error
3,Population 18 to 24 years,"5,421,107","+/-2,144",(X),(X),"2,748,317","+/-1,451",(X),(X),"2,672,790",...,(X),(X),"3,853,467","+/-1,923",(X),(X),"3,588,054","+/-1,554",(X),(X)
4,Less than high school graduate,"630,304","+/-5,732",11.6%,+/-0.1,"368,572","+/-4,551",13.4%,+/-0.2,"261,732",...,13.3%,+/-0.1,"585,530","+/-6,005",15.2%,+/-0.2,"407,682","+/-5,051",11.4%,+/-0.1

In [17]:
for k in proj_df.keys():
    print(k)

Subject
Northeast Region Total Estimate
Northeast Region  Margin of Error
Northeast Region Percent Estimate
Northeast Region  Margin of Error.1
Northeast Region Male Estimate
Northeast Region  Margin of Error.2
Northeast Region Percent Male Estimate
Northeast Region  Margin of Error.3
Northeast Region Female Estimate
Northeast Region  Margin of Error.4
Northeast Region Percent Female Estimate
Northeast Region  Margin of Error.5
Midwest Region Total Estimate
Midwest Region  Margin of Error
Midwest Region Percent Estimate
Midwest Region  Margin of Error.1
Midwest Region Male Estimate
Midwest Region  Margin of Error.2
Midwest Region Percent Male Estimate
Midwest Region  Margin of Error.3
Midwest Region Female Estimate
Midwest Region  Margin of Error.4
Midwest Region Percent Female Estimate
Midwest Region  Margin of Error.5
South Region Total Estimate
South Region  Margin of Error
South Region Percent Estimate
South Region  Margin of Error.1
South Region Male Estimate
South Region  Margin of Error.2
South Region Percent Male Estimate
South Region  Margin of Error.3
South Region Female Estimate
South Region  Margin of Error.4
South Region Percent Female Estimate
South Region  Margin of Error.5
West Region Total Estimate
West Region  Margin of Error
West Region Percent Estimate
West Region  Margin of Error.1
West Region Male Estimate
West Region  Margin of Error.2
West Region Percent Male Estimate
West Region  Margin of Error.3
West Region Female Estimate
West Region  Margin of Error.4
West Region Percent Female Estimate
West Region  Margin of Error.5

In [18]:
proj_df.dtypes

Subject                                     object
Northeast Region Total Estimate             object
Northeast Region  Margin of Error           object
Northeast Region Percent Estimate           object
Northeast Region  Margin of Error.1         object
Northeast Region Male Estimate              object
Northeast Region  Margin of Error.2         object
Northeast Region Percent Male Estimate      object
Northeast Region  Margin of Error.3         object
Northeast Region Female Estimate            object
Northeast Region  Margin of Error.4         object
Northeast Region Percent Female Estimate    object
Northeast Region  Margin of Error.5         object
Midwest Region Total Estimate               object
Midwest Region  Margin of Error             object
Midwest Region Percent Estimate             object
Midwest Region  Margin of Error.1           object
Midwest Region Male Estimate                object
Midwest Region  Margin of Error.2           object
Midwest Region Percent Male Estimate        object
Midwest Region  Margin of Error.3           object
Midwest Region Female Estimate              object
Midwest Region  Margin of Error.4           object
Midwest Region Percent Female Estimate      object
Midwest Region  Margin of Error.5           object
South Region Total Estimate                 object
South Region  Margin of Error               object
South Region Percent Estimate               object
South Region  Margin of Error.1             object
South Region Male Estimate                  object
South Region  Margin of Error.2             object
South Region Percent Male Estimate          object
South Region  Margin of Error.3             object
South Region Female Estimate                object
South Region  Margin of Error.4             object
South Region Percent Female Estimate        object
South Region  Margin of Error.5             object
West Region Total Estimate                  object
West Region  Margin of Error                object
West Region Percent Estimate                object
West Region  Margin of Error.1              object
West Region Male Estimate                   object
West Region  Margin of Error.2              object
West Region Percent Male Estimate           object
West Region  Margin of Error.3              object
West Region Female Estimate                 object
West Region  Margin of Error.4              object
West Region Percent Female Estimate         object
West Region  Margin of Error.5              object
dtype: object

In [53]:
proj_reduced_df= pd.DataFrame({})
x = ""

for k in proj_df.keys():
    x = re.search(".Margin of Error", k)
    if (x):
       x = "" 
    else:
        proj_reduced_df [k] = proj_df [k]

In [54]:
proj_reduced_df.head()

,Subject,Northeast Region Total Estimate,Northeast Region Percent Estimate,Northeast Region Male Estimate,Northeast Region Percent Male Estimate,Northeast Region Female Estimate,Northeast Region Percent Female Estimate,Midwest Region Total Estimate,Midwest Region Percent Estimate,Midwest Region Male Estimate,...,South Region Male Estimate,South Region Percent Male Estimate,South Region Female Estimate,South Region Percent Female Estimate,West Region Total Estimate,West Region Percent Estimate,West Region Male Estimate,West Region Percent Male Estimate,West Region Female Estimate,West Region Percent Female Estimate
0,Region,Northeast Region,Northeast Region,Northeast Region,Northeast Region,Northeast Region,Northeast Region,Midwest Region,Midwest Region,Midwest Region,...,South Region,South Region,South Region,South Region,West Region,West Region,West Region,West Region,West Region,West Region
1,Gender,Total,Percent,Male,Percent Male,Female,Percent Female,Total,Percent,Male,...,Male,Percent Male,Female,Percent Female,Total,Percent,Male,Percent Male,Female,Percent Female
2,Estimate/Margin of Error,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,...,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate
3,Population 18 to 24 years,"5,421,107",(X),"2,748,317",(X),"2,672,790",(X),"6,625,033",(X),"3,388,784",...,"5,977,967",(X),"5,665,856",(X),"7,441,521",(X),"3,853,467",(X),"3,588,054",(X)
4,Less than high school graduate,"630,304",11.6%,"368,572",13.4%,"261,732",9.8%,"851,682",12.9%,"495,759",...,"993,704",16.6%,"700,954",12.4%,"993,212",13.3%,"585,530",15.2%,"407,682",11.4%

In [56]:
proj_reduced_df.dtypes

Subject                                     object
Northeast Region Total Estimate             object
Northeast Region Percent Estimate           object
Northeast Region Male Estimate              object
Northeast Region Percent Male Estimate      object
Northeast Region Female Estimate            object
Northeast Region Percent Female Estimate    object
Midwest Region Total Estimate               object
Midwest Region Percent Estimate             object
Midwest Region Male Estimate                object
Midwest Region Percent Male Estimate        object
Midwest Region Female Estimate              object
Midwest Region Percent Female Estimate      object
South Region Total Estimate                 object
South Region Percent Estimate               object
South Region Male Estimate                  object
South Region Percent Male Estimate          object
South Region Female Estimate                object
South Region Percent Female Estimate        object
West Region Total Estimate                  object
West Region Percent Estimate                object
West Region Male Estimate                   object
West Region Percent Male Estimate           object
West Region Female Estimate                 object
West Region Percent Female Estimate         object
dtype: object